.header-conteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 35px;
  left: 10px;
  width: 260px;
  padding: 2.5px 10px;
  color: white;
  z-index: 10;
}
.wi-fi-aligne {
  display: flex;
  flex-direction: row;
}

.triangles {
  position: relative;
  top: 2px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: none;
  line-height: 0;
}
.up {
  position: relative;
  top: 1px;
}
.down {
  position: relative;
  top: -1px;
}
.header-text {
  font-size: 12px;
}
.battery {
  padding-left: 5px;
}
