.home-screen-conteiner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../Assets/phone1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 589px;
  width: 284px;
}
.home-screen {
  position: relative;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  height: 524px;
  width: 257px;
  background-color: white;
  overflow: hidden;
}
.screen-img {
  position: relative;
  left: -85%;
  background-image: url("../Assets/homeScreen.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 524px;
  width: 514px;
}
.home-screen-lowerSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  left: 42%;
  width: 265px;
  padding: 0px 20px;
}
.arrow-conteiner {
  position: relative;
  left: 42%;
  width: 265px;
  color: white;
  padding: 10px 0px;
}
.arrow {
  position: relative;
  left: 51%;
  transform: translate(-50%);
}
