.footer-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: relative;
  left: 15px;
  width: 258px;

  padding: 6px 10px;
  height: 35px;
  z-index: 10;
}
.triangle,
.circle,
.rectangle {
  color: rgb(255, 255, 255);
  transform: rotate(-90deg);
}
